{% extends 'layout.html' %}
{% block titulo %} Laingod {% endblock %}
{% block contenido %} 


  <nav class="barra navbar navbar fixed-top" id="barra">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: red; " id="Leyenda">Serial Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <i class="iconhs fa-solid fa-list fa-2xl" style="color: #00ffb3;"></i>
      </button>
      <div class="blp offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class=" xs" aria-current="page" href="/logout" >Home</a>
            </li>
            <li class="nav-item">
              <a class="xs" href="admin.html">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="xs  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                operaciones
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/sUsuario">usuarios
                   
                </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/listimgs">Publicaciones</a></li>
                <li>
                  <li><a class="dropdown-item" href="/load_ads">ads</a></li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#Registro2">Mi usuario</a></li>
               
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="modal fade" id="Registro2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modalC  modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Registro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="bodysignin  modal-body">
         
          <form action="/editadmin/{{current_user.id}}" method="post" class="formularios" enctype="multipart/form-data">
            <div class="mb-3" >
              <label for="formFile" class="xs form-label">Imagen</label>
              <input  accept="image/*" required class="form-control" type="file" name="imagenuser" id="formFile">
            </div>
            <div class=" mb-3">
              <label for="exampleInputEmail1" class=" textsign form-label">{{current_user.nombreu}}</label>
              <input required type="text" name="Nombreu" value="{{current_user.nombreu}}" class="entersign form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="textsign form-text">Recuerda siempre usar un nombre de usuario valido.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="textsign form-label">Correo electronico</label>
              <input required type="email" name="correou" value="{{current_user.correou}}" class="entersign form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="textsign  form-text">Utiliza un correo electronico valido</div>
            </div>
  
         
            
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        </div>
      </div>
    </div>
  </div>
   
{% endblock %}